<aside class="sidebar px-3 pt-3 pb-5">
    
    <div class="sidebar-title text-center mb-4">
        <div class="sidebar-title-image">
            <img width="80" class="mb-2" src="/images/LogoCS.png"  alt="LogoFerreteria2">
        </div>
        <div class="sidebar-title-text">
            <p class="main-name fw-bold m-0">Menú Principal</p>
            <p class="main-detail fst-italic text-secondary m-0">Panel de Control {{ getNombreDelRol() }}</p>
        </div>
    </div>
    <div class="d-grid gap-3 row-gap-3 w-100" role="group" aria-label="Vertical button group">
        <a [routerLink]="getRutaDashboard()" routerLinkActive="btn-router" class="btn text-start rounded">Resumen (Dashboard)</a>
        @if (role === 'JEFE_DE_LINEA') {
            <a routerLink="/logistica/jefelinea/abastecimiento" routerLinkActive="btn-router" class="btn text-start rounded">Abastecimiento de Línea</a>
            <a routerLink="/logistica/jefelinea/seguimiento" routerLinkActive="btn-router" class="btn text-start rounded">Seguimiento de Órdenes</a>
            <a routerLink="/logistica/jefelinea/analisis" routerLinkActive="btn-router" class="btn text-start rounded">Análisis y Evaluación de Inventario</a>
            <a routerLink="/logistica/jefelinea/exhibicion" routerLinkActive="btn-router" class="btn text-start rounded">Gestionar Exhibición</a>
            <a routerLink="/logistica/jefelinea/devoluciones" routerLinkActive="btn-router" class="btn text-start rounded">Devoluciones y Compensaciones</a>
        }

        @if (role === 'ADMIN') {
            <a routerLink="/logistica/admin/usuarios" routerLinkActive="btn-router" class="btn text-start rounded">Gestión de Usuarios</a>
        }

        @if (role === 'ADMINISTRADOR_DE_TIENDA') {
            <a routerLink="/logistica/admin-tienda/compras" routerLinkActive="btn-router" class="btn text-start rounded">Gestión de compras</a>
        }

        @if(role === 'ALMACENERO'){
            <a routerLink="/logistica/almacenero/stock" routerLinkActive="btn-router" class="btn text-start rounded">Control de Stock</a>
        }
    </div>
</aside>