.sidebar{
    background-color: #e2edef;
    width: 300px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
    .sidebar-title-text{
        .main-name{
            font-size: 1.50rem;
        }
        .main-detail{
            font-size: 0.95rem;
        }
    }

    .btn-router{
        background-color: #ffffff;
        color: #f16359;
        border: none;
        -webkit-text-stroke: 1px #f16359;
    }
    .btn{
        transition: all 0.2s ease;
        white-space: normal;
        word-break: break-word;
        text-align: left;
        border: none;
        &:hover{
            background-color: #ffffff;
            color: #f16359;
            transform: translateX(5px);
            -webkit-text-stroke: 1px #f16359;
        }
    }

}