<form [formGroup]="formularioCronograma" (ngSubmit)="guardarCronograma()">
<div class="form-generar-cronograma-container shadow-sm m-5 rounded-4 overflow-x-auto">
    <table class="table mb-0">
    <thead class="custom-thead">
        <tr class="header-principal">
            <th colspan="5" class="titulo-linea align-middle ps-4">
                Generar cronograma de órden de compra
            </th>
        </tr>
        <tr class="header-columnas text-center align-middle">
            <th scope="col" class="th-producto">Producto</th>
            <th scope="col" class="th-proveedor">Proveedor</th>
            <th scope="col" class="th-cantidad">Cantidad</th>
            <th scope="col" class="th-fecha-ref">Fecha de Referencia</th>
            <th scope="col" class="th-accion">Acción</th>
        </tr>
    </thead>
    <tbody formArrayName="lineas" class="form-generar-cronograma text-center align-middle">
    @if (listaProductosCatalogo.length > 0) {
        @for (linea of lineas.controls; track linea; let i = $index) {
            <tr [formGroupName]="i">
                <td>
                    <select class="form-select" formControlName="producto">
                        <option [ngValue]="null" disabled selected>Seleccione un producto</option>
                        @for (producto of listaProductosCatalogo; track producto.productoId) {
                            <option [ngValue]="producto">
                                {{ producto.nombre }}
                            </option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-select" formControlName="proveedorId">
                        <option [ngValue]="null" disabled selected>Seleccione un proveedor</option>
                        @if (linea.get('producto')?.value; as productoSeleccionado) {
                            @for (proveedor of productoSeleccionado.proveedores; track proveedor.proveedorId) {
                                <option [value]="proveedor.proveedorId">
                                    {{ proveedor.nombre }}
                                </option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            [class.is-invalid]="linea.get('cantidad')?.invalid && (linea.get('cantidad')?.touched || linea.get('cantidad')?.dirty)"  
                            placeholder="Cantidad" 
                            #cantidadTooltip="ngbTooltip"
                            [ngbTooltip]="getErrorMessage(i,'cantidad')"
                            formControlName="cantidad"
                            triggers="manual"
                            (input)="getErrorMessage(i,'cantidad') ? cantidadTooltip.open() : cantidadTooltip.close()"
                            (focus)="getErrorMessage(i,'cantidad') ? cantidadTooltip.open() : cantidadTooltip.close()"
                            (blur)="cantidadTooltip.close()"
                            tooltipClass="red-tooltip"
                            placement="bottom">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input 
                            type="date" 
                            class="form-control" 
                            [class.is-invalid]="linea.get('fechaRequerida')?.invalid && (linea.get('fechaRequerida')?.touched || linea.get('fechaRequerida')?.dirty)" 
                            #fechaTooltip="ngbTooltip"
                            [ngbTooltip]="getErrorMessage(i,'fechaRequerida')"
                            formControlName="fechaRequerida"
                            triggers="manual"
                            (input)="getErrorMessage(i,'fechaRequerida') ? fechaTooltip.open() : fechaTooltip.close()"
                            (focus)="getErrorMessage(i,'fechaRequerida') ? fechaTooltip.open() : fechaTooltip.close()"
                            (blur)="fechaTooltip.close()"
                            tooltipClass="red-tooltip"
                            placement="bottom">
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarLinea(i)">
                    <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    }
        <tr>    
            <th colspan="5" class="text-end">
                <button type="button" class="btn btn-success btn-sm fw-bold" (click)="agregarNuevaLinea()">
                <i class="bi bi-plus-lg"></i> Añadir Fila
                </button>
            </th>
        </tr>
        <tr>    
            <th colspan="5" class="text-center">
                <button type="submit" class="boton-generar btn btn-primary fw-bold px-4" [disabled]="lineas.invalid">
                    Generar cronograma
                </button>
            </th>
        </tr>
    </tbody>
    </table>
</div>
</form>