.m-seccion{
    font-size: 13px;
    color: #017287;
}
.m-title{
    h1{
        font-size: 40px;
        @media (width:992px) {
            font-size: 40px;
        }
    }
}

.overlay{
    background-color: hsla(0, 0%, 50%, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1050;

    .form-wrapper{
        width: 50%;
        height: 70%;
        max-width: 1800px;
    }

}