.mensajes{

    .btn-tipomensaje{
        background-color: white;
        width: 50%;
        height: 62px;
        transition: all 0.5s;         
        @media (min-width: 420px) {
            height: auto;
        }
        @media (min-width: 1200px) {
            width: auto;
        }
        &:hover{
            background-color: #F16359;
            color: white;
            transform: scale(1.05);
        }
    }

    .btn-mensaje{
        background-color: #7F3744;
        width: 50%;
        transition: all 0.5s;         
        @media (min-width: 1200px) {
            width: auto;
        }
        &:hover{
            background-color: #F16359;
            color: white;    
            transform: scale(1.05);
        }
    }

    .table{
        table-layout: fixed;
        min-width: 900px;

        @media (min-width:992px) {
            min-width: 0;
        }

        .mensajes-body{
            .m-logo{
                width: 9%;
            }
            .m-address{
                width: 26%;
            }
            .m-description{
                width: 38%;   
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }
            }
            .m-date{
                width: 20%;
            }
            .m-state{
                width: 5%;
            }
            .m-option{
                width: 3%;
            }
            tr td {
                border: none;
            }
            tr{
                width: 100%;
                &:nth-of-type(odd) > * {
                    background-color: rgb(255, 245, 245);
                }
                &:nth-of-type(even) > * {
                    background-color: rgb(255, 254, 254);
                }
            }

            .mensaje-view{
                cursor: pointer;
                
                &:hover td{
                    background-color: #eebfc8;
                }

                .dropdown{
                    .dropdown-menu{
                        min-width: auto;
                        background-color: white;
                        .dropdown-item{
                            &:hover, &:active{
                                background-color: #7f3744 !important;
                                color: rgb(255, 255, 255);
                            }

                        }
                    }
                }


            }
        }
    }

}

.mat-mdc-paginator-page-size {
    display: none !important;
}