<div class="mensajes mt-3 mx-4 mb-4">
    <div class="m-title d-flex flex-column align-self-center w-100 flex-md-row justify-content-between">
        <div class="mb-3 d-flex flex-column ">
            <h1 class="p-0 m-0 fw-bold">Mensajes</h1>
        </div>
        <div class="d-flex flex-row align-items-end mb-3 gap-2">  
            @if (tipoMensaje === 'recibidos') {
                <button class="btn btn-tipomensaje border border-light-subtle d-flex flex-row justify-content-center align-items-center flex-md-column flex-xl-row" (click)="filtrarMensaje('enviados')">
                    <span class="fw-medium">Enviados</span>
                    <i class="bi bi-envelope-arrow-up px-2" style="-webkit-text-stroke-width: 0.25px;"></i>
                </button>
            }@else {
                <button class="btn btn-tipomensaje border border-light-subtle d-flex flex-row justify-content-center align-items-center flex-md-column flex-xl-row" (click)="filtrarMensaje('recibidos')">
                    <span class="fw-medium">Recibidos</span>
                    <i class="bi bi-envelope-arrow-down px-2" style="-webkit-text-stroke-width: 0.25px;"></i>
                </button>
            }
            <button class="btn btn-mensaje border border border-light-subtle d-flex flex-row justify-content-center align-items-center" (click)="newMessage()">
                <i class="bi bi-send-plus px-2" style="-webkit-text-stroke-width: 0.18px; color: #ffffff;"></i>
                <span class = "fw-medium" style="color: #ffffff;">Nuevo Mensaje</span>
            </button>
        </div>
    </div>
    <div class="border border-1 rounded-3 overflow-hidden">
        <div class="px-3 py-3 table-mensajes-head">
            @if (tipoMensaje === 'recibidos') {
                <i class="bi bi-inbox-fill px-3 fs-3" style="-webkit-text-stroke-width: 1px;"></i>
                <span class="fw-bolder fs-3">Bandeja de Entrada ({{mensajesNoLeidos}} no leídos)</span>
            }@else {
                <i class="bi bi-send px-3 fs-3" style="-webkit-text-stroke-width: 1px;"></i>
                <span class="fw-bolder fs-3">Enviados</span>
            }
        </div>
        <div class="overflow-x-auto">
            <table class="table m-0">
                    <tbody class="mensajes-body text-start align-middle">
                        @for (mensaje of mensajesPaginados; track mensaje.mensajeId) {    
                            <tr class="mensaje-view" (click)="openMessage(mensaje)">
                                <td class="m-logo text-center py-1">
                                    <span class="m-0 fw-medium">
                                        <i class="bi bi-person-circle" style="font-size: 45px;"></i>
                                    </span>
                                </td>
                                <td class="m-address">
                                    <p class="m-0 fw-medium">{{mensaje.emisorUsername}}</p>
                                    <p class="m-0 fw-light">sandoval123@gmail.com</p>
                                </td>
                                <td class="m-description">
                                    <p class="m-0 fw-medium">{{mensaje.titulo}}</p>
                                    <p class="m-0 fw-normal">{{mensaje.mensaje}}</p>
                                </td>
                                <td class="m-date text-center">
                                    <span class="m-0">{{mensaje.fechaEnvio | date:'MMM d, h:mm a'}}</span>
                                </td>
                                <td class="m-state">
                                    @if(!mensaje.leido){
                                        <i class="bi bi-check2" style="color: rgb(180, 184, 178); -webkit-text-stroke-width: 0.5px;"></i>
                                    }@else {
                                        <i class="bi bi-check2-all" style="color: rgb(63, 194, 11); -webkit-text-stroke-width: 0.5px;"></i>
                                    }
                                </td>
                                <td class="m-option p-0">
                                    <div class="dropdown align-items-center text-center">
                                        <button class="btn-dot btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu p-0 overflow-hidden">
                                            <li>
                                                <button class="dropdown-item text-center">
                                                    <p class="m-0">Eliminar</p>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
            </table>
        </div>
        <mat-paginator
            [length]="listaFiltrada.length"
            [pageSize]="6"
            (page)="cambiarPagina($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>