$color-fondo-header: #0A323E;
$color-dark: #000000;
$color-white: #ffffff;
$color-principal: #f1695f;
$color-secundario: #DF5551;

.navbar{
  background-color: $color-fondo-header;

  .nav-link{
    color: $color-white;
    font-weight: 500;
    &:hover{
      color: $color-secundario;
    }
  }

  .navbar-brand img {
    height: 50px;
    width: auto;
  }
}

.icono-hamburguesa {
  color: $color-principal;
  font-size: 2rem;
  &:hover {
    color: $color-secundario;
  }
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.btn-ferreteria {
  background-color: $color-principal;
  color: $color-white;
  font-weight: bold;
  &:hover{
    background-color: $color-secundario;
    color: $color-white;
  }
} 

.dropdown-menu {
  background-color: $color-principal;
  .dropdown-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color-dark; 
    font-size: 20px;
    font-weight: bold;
  }
  .dropdown-item{
    color: $color-dark;
    font-weight: bold; 
    &:hover {
      background-color: $color-secundario;
      color: $color-white;
    }
  }
  p {
    font-weight: lighter;  
    margin: 0;
  }
}