header {
  background-color: var(--header-primary-color);
  color: var(--white);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0 2rem;
    font-size: 19px;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;

    .logo-empresa {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        display: flex;
        height: 3.5rem;
      }
    }

    .homepage-secciones {
      display: flex;
      justify-content: center;

      > ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 5.5rem;
        width: 100%;

        > li {
          position: relative;

          &:hover .submenu {
            display: block;
          }
        }
      }

      a {
        color: var(--white);
        text-decoration: none;

        &:hover {
          color: var(--secondary-color);
        }
      }

      .submenu {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;

        width: 25rem;
        height: 16rem;
        border-radius: 0 0 10px 10px;

        background-color: var(--button-secondary-color);
        color: var(--white);
        padding: 0.7rem 1rem;

        .categoria-titulo {
          font-weight: bold;
          margin-bottom: 8px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        li {
          padding: 2px;
          display: flex;
          flex-direction: column;
          padding-left: 13px;

          &:hover {
            background-color: var(--button-primary-color);
            border-radius: 5px;
            transition: background-color 0.4s ease;
          }
        }

        p {
          font-size: 1rem;
          font-family: cursive;
          color: var(--white);
          padding-left: 10px;
        }
      }
    }

    .boton-logeo {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      background-color: var(--secondary-color);
      color: var(--white);
      padding: 10px 30px;
      border-radius: 5px;
      margin-left: auto;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.4s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--button-secondary-color);
      }
    }
  }
}