<header>
    <div class="header-container">
        <div class="logo-empresa">
            <a href="homepage.html">
                <img src="images/logo_ferrreteria.png" alt="logo-ferreteria">
            </a>
        </div>
        <nav class="homepage-secciones">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li>
                    <a href="#">Productos</a>
                    <div class="submenu">
                        <div class="categoria-titulo">Categorías de los Productos</div>
                        <ul>
                            <li>
                                <a href="#" class="categoria-producto">
                                    Herramientas manuales
                                    <p>Martillos, destornilladores, alicates</p>
                                </a>
                                
                            </li>
                            <li>
                                <a href="#" class="categoria-producto">
                                    Herramientas eléctricas
                                    <p>Taladros, sierras, lijadoras</p>
                                </a>
                                
                            </li>
                            <li>
                                <a href="#" class="categoria-producto">
                                    Materiales de construcción
                                    <p>Ladrillos, bloques, vigas</p>
                                </a>
                                
                            </li>
                            <li>
                                <a href="#" class="categoria-producto">
                                    Pinturas y accesorios
                                    <p>Pinturas, rodillos, brochas</p>
                                </a>
                            </li>
                        </ul>    
                    </div>
                </li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </nav>
        <div class="boton-logeo" (click)="irALogin()">
            Iniciar Sesión
        </div>
    </div>
</header>  
