<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="images/logo_ferrreteria.png" alt="logo-ferreteria">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list icono-hamburguesa"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" >Inicio</a>
                </li>
                    <li class="nav-item dropdown" aria-current="page" href="#">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><div class="dropdown-header">Categorías de los Productos</div></li>
                            <li><a class="dropdown-item" href="#">Herramientas manuales
                                <p>Martillos, destornilladores, alicates</p>
                            </a></li>
                            <li><a class="dropdown-item" href="#">Herramientas eléctricas
                                <p>Taladros, sierras, lijadoras</p>
                            </a></li>
                            <li><a class="dropdown-item" href="#">Materiales de construcción
                                <p>Ladrillos, bloques, vigas</p>
                            </a></li>
                            <li><a class="dropdown-item" href="#">Pinturas y accesorios
                                <p>Pinturas, rodillos, brochas</p>
                            </a></li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="#">Contáctanos</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-ferreteria me-3" type="button" (click)="irALogin()">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</nav>