<div class="oc-penalidad rounded-4 overflow-hidden shadow mx-5 mt-5">
    <div class="oc-penalidad-head d-flex align-items-center py-2 px-4">
        <p class="m-0 fw-bolder fs-5 py-1">Órdenes de Compra Vencidas</p>
    </div>
    <div class="overflow-x-auto">
        <table class="table m-0 align-middle">
            <thead>
                <tr class="table-oc-penalidad-head text-center align-middle">
                    <th scope="col" class="th-id">ID Orden</th>
                    <th scope="col" class="th-prov">Proveedor</th>
                    <th scope="col" class="th-fe">Fecha de Entrega</th>
                    <th scope="col" class="th-fl">Fecha Límite</th>
                    <th scope="col" class="th-diasr">Días de Retraso</th>
                    <th scope="col" class="th-monto">Monto OC</th>
                    <th scope="col" class="th-option"></th>
                </tr>
            </thead>
            <tbody class="table-oc-penalidad-body text-center">
                <tr>
                    <td>OC-100</td>
                    <td class="text-start">Ceramicas SANDOVAL SAC</td>
                    <td>30/05/26</td>
                    <td>30/05/26</td>
                    <td>21</td>
                    <td>2,500.00</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn p-0" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu rounded-3 overflow-hidden p-0 border-0">
                                <li>
                                    <button class="dropdown-item text-center">
                                        <p class="m-0 fw-bolder">Asignar Penalidad</p>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>12</td>
                    <td></td>
                    <td>21</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>