.tabla-usuarios{    
    .table-usuarios-head{
        background-color: #094854;
        color: white;
        border: none;

        .tu-buttons{
            .btn-registrar{ width: 100%; }
            .btn-filtrar{ width: 100%; }
            @media (min-width: 768px){
                .btn-registrar{ max-width: 50%; }
            }
            @media (min-width: 992px){
                .btn-filtrar{ max-width: 90px; }
                .btn-registrar{ max-width: 120px; }
            }
            @media (min-width: 1084px){
                .btn-registrar{  max-width: 160px; }
                .btn-filtrar{ max-width: 130px; }
            }
            @media (min-width: 1400px){ .btn-registrar{  max-width: 260px; }
            }
        }
        
        .btn-filtrar{
            background-color: #c4e5eb;
            border: none;
            color: #000000;
            &:hover{
                background-color: #7fb0b8;
            }
        }
        .btn-registrar{
            background-color: #c4e5eb;
            border: none;
            color: #000000;
            &:hover{
                background-color: #7fb0b8;
            }
        }
    }

    .table {
        width: 100%;
        min-width: 900px;
        white-space: nowrap;

        @media (min-width: 992px) {
            table-layout: auto;
            white-space: normal;
            min-width: 100%;
        }
        @media (min-width: 1200px) {
            width: 100%;
        }
        
        .table-head{
            th{
                background-color: #1a353a;
                color: white;
            }
        }
        .th-id{
            width: 45px;
            text-align: center;
        }
        .th-rol{
            width: 20%;
        }
        .th-user{
            width: 20%;
        }
        .th-name{
            width: 25%;
        }
        .th-dni{
            width: 70px;
            text-align: center;
        }
        .th-estado{
            width: 70px;
            text-align: center;
        }
        .th-options{
            width: 5px;
            text-align: center;
        }

        tbody tr td {
            vertical-align: middle;
            padding: 6px 12px;
            border: none;
        }

        .table-group-divider{
            tr{
                &:nth-of-type(odd) > * {
                    background-color: #cae4e9;
                }
                &:nth-of-type(even) > * {
                    background-color: #99c2c9;
                }
            }
        }
    }

    .btn-dots{
        border: none;
    }
    .btn-dots:focus,
    .btn-dots:active{
        box-shadow: none;
        border: none;
    }
    

    .dropdown-menu{
        background-color: #c4e5eb;
        border: 1px solid #7fb0b8;
        
        width: auto;
        min-width: unset;
        padding: 0;
        .dropdown-item{
            padding: 4px 14px;
            &:hover{
            background-color: #7fb0b8;
            color: rgb(255, 255, 255);
        }
        }
    }
    
}


