<div class="tabla-stock-container shadow-sm m-5 mt-4 rounded-4 overflow-x-auto">
    <table class="table mb-0" [formGroup]="formularioCompra">
    <thead class="custom-thead">
        <tr class="header-principal">
            <th colspan="3" class="titulo-linea align-middle fw-bold ps-4">
                Generar órden de compra
            </th>
            <th colspan="3" class="seleccion-proveedor align-middle fw-bold pe-4" [formGroup]="formularioCompra">
                <select class="form-select rounded-5 ps-3" formControlName="proveedorSeleccionado">
                    <option [ngValue]="null">Seleccione un proveedor</option>
                    @for(ordenPrevia of ListaOCPrevia; track ordenPrevia.proveedorId){
                        <option [ngValue]="ordenPrevia">{{ordenPrevia.nombreProveedor}}</option>
                    }
                </select>
            </th>
        </tr>
        @if(ordenSeleccionada){
            <tr class="info-general">
                <th colspan="2" class="align-middle fw-bold ps-4">
                    Proveedor - {{ordenSeleccionada.nombreProveedor}}
                </th>
                <th colspan="2" class="align-middle fw-bold ps-4">
                    Monto total (IGV): {{ordenSeleccionada.montoTotalCalculado*1.18 | currency:'PEN':'S/ '}}
                </th>
                <th colspan="2" class="align-middle fw-bold ps-4">
                    <div class="d-flex flex-column">
                        <label class="form-label mb-1 text-center">
                            Fecha plazo máximo
                        </label>
                        <div class="input-group">
                            <input type="date" 
                                   class="form-control rounded" 
                                   [class.is-invalid]="formularioCompra.get('plazoFechaMaximo')?.invalid && (formularioCompra.get('plazoFechaMaximo')?.touched || formularioCompra.get('plazoFechaMaximo')?.dirty)"
                                   formControlName="plazoFechaMaximo"
                                   #fechaTooltip="ngbTooltip"
                                   [ngbTooltip]="getErrorMessage('plazoFechaMaximo')"
                                   triggers="manual"
                                   (input)="getErrorMessage('plazoFechaMaximo') ? fechaTooltip.open() : fechaTooltip.close()"
                                   (focus)="getErrorMessage('plazoFechaMaximo') ? fechaTooltip.open() : fechaTooltip.close()"
                                   (blur)="fechaTooltip.close()"
                                   tooltipClass="red-tooltip"
                                   placement="bottom">
                        </div>   
                    </div>
                </th>
            </tr>
        }
        <tr class="header-columnas text-center align-middle">
            <th scope="col" class="th-linea">Nombre línea</th>
            <th scope="col" class="th-producto">Producto</th>
            <th scope="col" class="th-cantidad">Cantidad</th>
            <th scope="col" class="th-precio">Precio/ud.</th>
            <th scope="col" class="th-subtotal">Subtotal</th>
            <th scope="col" class="th-fecha-ref">Fecha referencia</th> 
        </tr>
    </thead>
    <tbody class="form-generar-oc text-center align-middle" formArrayName="detallesArray">
        @if(ordenSeleccionada){
            @for(detalle of detallesArray.controls; track $index; let i = $index){
            <tr [formGroupName]="i">
                <td scope="row">{{ordenSeleccionada.detalles[i].nombreLinea}}</td>
                <td>{{ordenSeleccionada.detalles[i].nombreProducto}}</td>
                <td>
                    <input type="text" 
                           class="form-control form-control-sm text-center mx-auto" 
                           [class.is-invalid]="detalle.get('cantidad')?.invalid && (detalle.get('cantidad')?.touched || detalle.get('cantidad')?.dirty)"
                           style="max-width: 80px;"
                           #cantidadTooltip="ngbTooltip"
                           [ngbTooltip]="getErrorMessageArray(i,'cantidad')" 
                           formControlName="cantidad"                             
                           triggers="manual"
                           (input)="getErrorMessageArray(i,'cantidad') ? cantidadTooltip.open() : cantidadTooltip.close()"
                           (focus)="getErrorMessageArray(i,'cantidad') ? cantidadTooltip.open() : cantidadTooltip.close()"
                           (blur)="cantidadTooltip.close()"
                           tooltipClass="red-tooltip"
                           placement="bottom">
                </td>
                <td>{{ordenSeleccionada.detalles[i].precioUnidad | currency:'PEN':'S/ '}}</td>
                <td>{{(detalle.get('cantidad')?.value * ordenSeleccionada.detalles[i].precioUnidad) | currency:'PEN':'S/ '}}</td>
                <td>{{ordenSeleccionada.detalles[i].fechaRequerida}}</td>
            </tr>
            }
        }
        @if(ordenSeleccionada){
        <tr>    
            <th colspan="6" class="text-end">
                <button type="button" class="btn btn-outline-secondary me-3" (click)="resetearVista()">
                    Cancelar
                </button>
                <button type="button" class="boton-generar btn btn-primary px-4" 
                        [disabled]="formularioCompra.invalid" 
                        (click)="generarOrden()">
                    Generar Orden
                </button>
            </th>
        </tr>
    }
    </tbody>
    </table>
</div>
