.private-layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .private-main-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // app-sidebar {
        //     // Aquí puedes poner reglas para que el sidebar no se encoja
        //     flex-shrink: 0; 
        // }
        height: auto;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        app-sidebar{
            width: 100%;
            height: auto;
            @media (min-width: 992px) {
                width: 300px;
                min-width: 300px;
                height: auto;
            }

        }

        .dynamic-content{
            flex-grow: 1;
            height: auto;
            // @media (min-width: 992px) {
            //     height: auto;
            // }
        }
    }


}
