.private-layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .private-main-body {
        flex:1;
        display: flex;
        flex-direction: row;
        // app-sidebar {
        //     // Aquí puedes poner reglas para que el sidebar no se encoja
        //     flex-shrink: 0; 
        // }
        .dynamic-content{
            flex: 1;
            padding: 20px;
            // overflow-y: auto; // Si la tabla es muy larga, hace scroll solo en esta área
        }
    }
}
