.public-layout-container {
    height: 100vh; //fuerza el alto, si los elementos lo exceden genera scroll vertical
    display: flex;
    flex-direction: column;

    .public-content {
        flex:1;
    }
}
