.form-penalidad{
    background: rgb(255, 255, 255);
    width: 590px;
    height: 500px;

    .btn-close{
        position: absolute;
        top: 20px;
        right: 18px;
    }

    .form-penalidad-table{
        td{
            padding: 0.5rem 0;
        }
    }
















    .btn{
        color: white;
        background: #7F3744;
    }
}