.login-bg {
  position: relative; 
  height: 100%;      
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 

  &::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    
    background-image: linear-gradient(rgba(10, 50, 62, 0.50), rgba(10, 50, 62, 0.50)), 
      url('/images/img-banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px); 
    
    transform: scale(1.1); 
    
    z-index: -1; 
  }
}

.card{
    width: 470px;

    h4 {
    font-size: 24px;
    font-family: inika, serif;
    font-weight: bold;
    }   
    form{
        label{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
        input{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        .btn-iniciar-sesion{
            display:block;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            background-color: var(--footer-color);
            border-color: var(--footer-color);

            &:hover{
                background-color: var(--secondary-color);
                border-color: var(--secondary-color); 
            }
        }
        .form-label-recover-pwd{
            text-decoration: underline;
            cursor: pointer;
             &:hover{
                color: var(--secondary-color);
             }
        }
        .pwd-visibility{
            &:hover{
                background-color: var(--secondary-color);
                border-color: var(--secondary-color); 
            }
            &:active{
                background-color: var(--secondary-color);
                border-color: var(--secondary-color);    
            }
        }
    }
}
