.m-seccion{
    font-size: 13px;
    color: #017287;
}
.m-title{
    h1{
        font-size: 40px;
        @media (width:992px) {
            font-size: 40px;
        }
    }
}


.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.45);
    z-index: 1050;

    padding: 1rem;

    animation: fadeInModal 0.3s ease-in-out;

}

@keyframes fadeInModal {
    from { background-color: rgba(10, 10, 10, 0); }
    to { background-color: rgba(10, 10, 10, 0.45); }
}