<div class="d-flex flex-column align-items-center w-100">
    <app-tabla-usuarios class="w-100"
        (onRegistrarClick)="mostrarFormulario = true" 
        (onModificarClick)="abrirFormUpdate($event)">
    </app-tabla-usuarios>

    @if (mostrarFormulario) {
        <div class="overlay-modal d-flex justify-content-center align-items-center">
            <app-form-registro-usuario (onCerrar)="cerrarFormulario()"></app-form-registro-usuario>
        </div>
    }

    @if (mostrarFormUpdate) {
        <div class="overlay-modal d-flex justify-content-center align-items-center">
            <app-form-update-usuario 
                [trabajador] = "trabajadorSeleccionado"
                (onCerrarUpdate)="cerrarFormUpdate()">
            </app-form-update-usuario>
        </div>
    }
    
</div>

