<div class="mx-4 mt-4 mb-4">
    <div class="mb-2 m-seccion">
        <span class=" fw-bold">SECCIÓN DE TRABAJADORES</span>
    </div>
    <div class="m-title d-flex flex-column align-self-center w-100 flex-md-row justify-content-between">
        <div class="d-flex flex-column ">
            <h1 class="p-0 m-0 fw-bold">Panel de Gestión de Trabajadores</h1>
            <h5 class="p-0 m-0 fs-6 fw-light f" style="color: #363636;">{{tablaStock?.textoActualizacion$ | async}}</h5>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center w-100">
    <app-tabla-usuarios class="w-100"
        #tablaStock
        (onRegistrarClick)="mostrarFormulario = true" 
        (onModificarClick)="abrirFormUpdate($event)">
    </app-tabla-usuarios>

    @if (mostrarFormulario) {
        <div class="overlay-modal d-flex justify-content-center align-items-center">
            <app-form-registro-usuario (onCerrar)="cerrarFormulario()"></app-form-registro-usuario>
        </div>
    }

    @if (mostrarFormUpdate) {
        <div class="overlay-modal d-flex justify-content-center align-items-center">
            <app-form-update-usuario 
                [trabajador] = "trabajadorSeleccionado"
                (onCerrarUpdate)="cerrarFormUpdate()">
            </app-form-update-usuario>
        </div>
    }
    
</div>

