

<div>
    <div>
        <div><img class = "rounded float-start" src="/images/LogoCS.jpg" alt="LogoFerreteria2"></div>
        <div>
            <h1>Menú Principal</h1>
            <h5>Panel de Control Jefe de Línea</h5>
        </div>
    </div>
    <div class="btn-group-vertical row-gap-3" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-primary rounded">Resumen</button>
        <button type="button" class="btn btn-primary rounded">Abastecimiento de Línea</button>
        <button type="button" class="btn btn-primary rounded">Seguimiento de Órdenes</button>
        <button type="button" class="btn btn-primary rounded">Análisis y Evaluación de Inventario</button>
        <button type="button" class="btn btn-primary rounded">Gestionar Exhibición</button>
        <button type="button" class="btn btn-primary rounded">Devoluciones y Compensaciones</button>
    </div>
</div>