
.sidebar{
    background-color: #e2edef;
    min-width: 380px;
    
    .sidebar-title-text{
        .main-name{
            font-size: 23px;
        }
        .main-detail{
            font-size: 18px;
        }
    }

    .btn{
        background-color: transparent;
        font-size: 20px;
        white-space: normal;
        word-break: break-word;
        text-align: left;
        &:hover{
            background-color: #ffffff;
            color: #f16359;
            font-weight: bold;
        }
    }

}