:host {
    display: block;
    width: 100%;
    height: 100%;
}

.form-message{
    background-color: white;
    width: 100%;
    height: 100%;
    

    .form-message-t{
        background-color: #eebfc8;
    }
    .form-message-f{
        flex: 1;
        .input-group{
            input, textarea{
                border: none;
                border-radius: 0px; 
                resize: none;
                &:focus{ box-shadow: none; }
            }
        }
        .ip{ input{ border-bottom: 1px solid rgba(177, 177, 177, 0.5); }}

        .btn-enviar{
            background-color: #7F3744;
            color: white;
        }
    }

}