<div class="tabla-stock-container shadow-sm m-5 mt-4 rounded-4 overflow-x-auto">
    <table class="table mb-0">
    <thead class="custom-thead">
        <tr class="header-principal">
            <th colspan="3" class="titulo-linea align-middle fw-bold ps-4">
                Productos - Línea {{nombreLineaUsuario}}
            </th>
            <th colspan="3" class="barra-busqueda align-middle pe-4">
                <div class="input-group input-group-sm m-2">
                    <input type="text" class="form-control rounded-start-5 ps-3" aria-label="Text input" placeholder="Buscar por ID">
                    <button class="btn btn-outline-secondary rounded-end-5" type="submit">
                        <i class="bi bi-search icono-buscar"></i>
                    </button>
                </div>
            </th>
        </tr>
        <tr class="header-columnas text-center align-middle">
            <th scope="col">ID Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock Actual</th>
            <th scope="col">Stock Mínimo</th>
            <th scope="col">Rotación</th>
            <th scope="col">Categoría</th> 
        </tr>
    </thead>
    <tbody class="producto-columnas text-center align-middle">
        @for(producto of listaProductos; track producto.productoId){
            <tr>
                <td scope="row">#{{producto.productoId}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.stockActual}}</td>
                <td>{{producto.stockMinimo}}</td>
                <td>{{producto.rotacion}}</td>
                <td>{{producto.categoria}}</td>
            </tr>
        }
    </tbody>
    </table>
</div>